In [2]:
!pip install kaggle
!pip install zipfile
# by using a ! we can use console commands and thus install pip libraries

Requirement already satisfied: kaggle in c:\users\diogo\anaconda3\lib\site-packages (1.5.16)
Requirement already satisfied: python-slugify in c:\users\diogo\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in c:\users\diogo\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in c:\users\diogo\anaconda3\lib\site-packages (from kaggle) (4.64.1)
Requirement already satisfied: six>=1.10 in c:\users\diogo\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: bleach in c:\users\diogo\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: urllib3 in c:\users\diogo\anaconda3\lib\site-packages (from kaggle) (1.26.11)
Requirement already satisfied: certifi in c:\users\diogo\anaconda3\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: requests in c:\users\diogo\anaconda3\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: packaging in c:\users\diogo\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\diogo\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\diogo\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\diogo\anaconda3\lib\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\diogo\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: colorama in c:\users\diogo\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.5)

ERROR: Could not find a version that satisfies the requirement zipfile (from versions: none)
ERROR: No matching distribution found for zipfile

In [3]:
import os
from pathlib import Path

# iskaggle = os.environ.get('KAGGLE_KERNEL_RUN_TYPE', '')

# if iskaggle:
#     path = Path('../input/titanic')
# else:
#     # otherwise we can download the dataset from kaggle
path = Path('titanic')
if not path.exists():
    import zipfile, kaggle
    kaggle.api.competition_download_cli(str(path))
    zipfile.ZipFile(f'{path}.zip').extractall(path)

In [4]:
import torch, numpy as np, pandas as pd
np.set_printoptions(linewidth = 140)
torch.set_printoptions(linewidth = 140, sci_mode = False, edgeitems = 7)
pd.set_option('display.width', 140)

In [5]:
# Cleaning the data
df = pd.read_csv(path/'train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
# Allows us to find missing values / NaN values
df.isna()

     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket   Fare  Cabin  Embarked
0          False     False   False  False  False  False  False  False   False  False   True     False
1          False     False   False  False  False  False  False  False   False  False  False     False
2          False     False   False  False  False  False  False  False   False  False   True     False
3          False     False   False  False  False  False  False  False   False  False  False     False
4          False     False   False  False  False  False  False  False   False  False   True     False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...    ...    ...       ...
886        False     False   False  False  False  False  False  False   False  False   True     False
887        False     False   False  False  False  False  False  False   False  False  False     False
888        False     False   False  False  False   True  False  False   False  False   True     False
889        False     False   False  False  False  False  False  False   False  False  False     False
890        False     False   False  False  False  False  False  False   False  False   True     False

[891 rows x 12 columns]

In [7]:
df.isna().sum()
# showing us how we have 177 missing ages and 687 cabin

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
# this allows us to locate the mode of all columns
modes = df.mode().iloc[0]
modes

PassengerId                      1
Survived                       0.0
Pclass                         3.0
Name           Abbing, Mr. Anthony
Sex                           male
Age                           24.0
SibSp                          0.0
Parch                          0.0
Ticket                        1601
Fare                          8.05
Cabin                      B96 B98
Embarked                         S
Name: 0, dtype: object

In [9]:
df.fillna(modes, inplace = True)
# Takes the mode of each column that are missing and fill in those missing values, we can simply use inplace = True
# this allows us to actually modify the original argument

In [10]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [11]:
df.describe()
# df.describe() will give you a general description of the data - with most of the statistics being shown

       PassengerId    Survived      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   28.566970    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071   13.199572    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000   24.000000    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
!conda install --yes freetype=2.10.4

In [ ]:
# df['Fare'].hist();
# longtail distributions - are not liked by a couple of models
# this is because they are very imbalanced and the models will tend to be biased towards the dominant model, leaving the
# other model to have a very poor performance

In [12]:
df['LogFare'] = np.log(df['Fare'] + 1)

In [ ]:
# df['LogFare'].hist();

In [14]:
pclasses = sorted(df.Pclass.unique())
pclasses

[1, 2, 3]

In [19]:
df.describe(include=[object])
# describes all of the categorical variables
df

,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,LogFare,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,B96 B98,2.110213,0,1,0,0,1,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,4.280593,1,0,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,2.188856,1,0,0,0,1,0,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,3.990834,1,0,1,0,0,0,0,1
4,5,0,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,B96 B98,2.202765,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,B96 B98,2.639057,0,1,0,1,0,0,0,1
887,888,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,3.433987,1,0,1,0,0,0,0,1
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",24.0,1,2,W./C. 6607,23.4500,B96 B98,3.196630,1,0,0,0,1,0,0,1
889,890,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,3.433987,0,1,1,0,0,1,0,0
890,891,0,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,B96 B98,2.169054,0,1,0,0,1,0,1,0

In [21]:
# df = pd.get_dummies(df, columns = ['Sex', 'Pclass', 'Embarked'])
# get dummmies allows us to get one hot encoding on all of the columns
df.columns

Index(['PassengerId', 'Survived', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'LogFare', 'Sex_female', 'Sex_male',
       'Pclass_1', 'Pclass_2', 'Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [22]:
from torch import tensor

# we turn the column into the tensors and this is the dependent data, the one we are trying to predict
t_dep = tensor(df.Survived)

In [25]:
indep_cols = ['Age', 'SibSp', 'Parch', 'LogFare']

t_indep = tensor(df[indep_cols].values, dtype = torch.float)
t_indep

tensor([[22.0000,  1.0000,  0.0000,  2.1102],
        [38.0000,  1.0000,  0.0000,  4.2806],
        [26.0000,  0.0000,  0.0000,  2.1889],
        [35.0000,  1.0000,  0.0000,  3.9908],
        [35.0000,  0.0000,  0.0000,  2.2028],
        [24.0000,  0.0000,  0.0000,  2.2469],
        [54.0000,  0.0000,  0.0000,  3.9677],
        ...,
        [25.0000,  0.0000,  0.0000,  2.0857],
        [39.0000,  0.0000,  5.0000,  3.4054],
        [27.0000,  0.0000,  0.0000,  2.6391],
        [19.0000,  0.0000,  0.0000,  3.4340],
        [24.0000,  1.0000,  2.0000,  3.1966],
        [26.0000,  0.0000,  0.0000,  3.4340],
        [32.0000,  0.0000,  0.0000,  2.1691]])

In [26]:
t_indep.shape

torch.Size([891, 4])

In [27]:
len(t_indep.shape)

2

In [33]:
# by generating a manual seed we will make sure that our accuracy is not being affected by randomness
torch.manual_seed(442)

n_coeff = t_indep.shape[1]
coeffs = torch.rand(n_coeff) - 0.5 # centered at a mean of 0 and between 0.5 and -0.5
coeffs

tensor([-0.4629,  0.1386,  0.2409, -0.2262])

In [35]:
# this broadcasting is done in optimised GPUs and in C code - all the fast code is being ran on very quick hardware
# as long as the last axis matches we can broadcast anything with anything else
t_indep * coeffs

tensor([[-10.1838,   0.1386,   0.0000,  -0.4772],
        [-17.5902,   0.1386,   0.0000,  -0.9681],
        [-12.0354,   0.0000,   0.0000,  -0.4950],
        [-16.2015,   0.1386,   0.0000,  -0.9025],
        [-16.2015,   0.0000,   0.0000,  -0.4982],
        [-11.1096,   0.0000,   0.0000,  -0.5081],
        [-24.9966,   0.0000,   0.0000,  -0.8973],
        ...,
        [-11.5725,   0.0000,   0.0000,  -0.4717],
        [-18.0531,   0.0000,   1.2045,  -0.7701],
        [-12.4983,   0.0000,   0.0000,  -0.5968],
        [ -8.7951,   0.0000,   0.0000,  -0.7766],
        [-11.1096,   0.1386,   0.4818,  -0.7229],
        [-12.0354,   0.0000,   0.0000,  -0.7766],
        [-14.8128,   0.0000,   0.0000,  -0.4905]])

In [37]:
# the problem with adding up the data is that the data needs to have aroudn similar distributions
preds = (t_indep * coeffs).sum(axis = 1)
preds

tensor([-10.5225, -18.4197, -12.5304, -16.9655, -16.6997, -11.6177, -25.8939,  -0.9690, -12.5810,  -7.1191,  -2.1220, -27.5981,  -9.7562,
        -17.4957,  -6.9738, -26.1002,  -0.9007, -11.7064, -14.8772, -11.5861, -16.9469, -16.3354,  -7.4411, -13.7747,  -3.7464, -17.0336,
        -11.5861,  -9.1586, -11.6035, -11.6039, -19.2753, -12.1004, -11.6001, -31.1038, -13.8224, -20.2011, -11.5863, -10.2191,  -8.7209,
         -6.9085, -18.9087, -13.0588, -11.6039,  -1.6167,  -9.2890, -11.6078, -11.6050, -11.6001, -11.5384,  -8.8571,  -3.2832, -10.2127,
        -23.5280, -14.0309, -30.7845, -11.9231, -10.2732, -13.6693,  -2.4537,  -4.7922, -10.6605, -18.5840, -21.6952,  -1.7148, -11.8689,
        -11.3606, -13.9764,  -9.2960,  -7.3282, -12.2712, -15.3651,  -7.1067, -10.6958, -12.5160, -15.7291, -12.0604, -11.6039, -11.6078,
         -0.6716, -14.4752, -10.7045, -13.9559, -11.6011, -13.8372,  -8.4216, -15.4987,  -7.3516, -11.6078, -11.0102, -11.6078, -13.9223,
         -9.7512, -22.0888, -12.1097, -27.7883, -11.6078, -33.6741, -11.3476, -16.2164, -16.3454, -13.4555, -11.6039, -10.4661, -15.7885,
        -17.3452, -13.4555, -10.2088, -11.6008, -18.0845, -11.7003, -22.6542,  -7.1927, -10.6820,  -9.6581,  -8.4885, -10.2159, -33.1250,
        -13.9846, -12.1161,  -0.6754, -10.4186, -11.6078, -15.6828, -15.6411, -25.7418,  -5.9827, -11.6001, -11.5838, -11.4427, -21.3001,
        -15.7700,  -9.7297, -22.2376, -14.0309, -12.1693, -11.2744,  -9.0610, -17.8913,  -7.9320, -12.1012, -11.2583, -10.6743, -11.6098,
         -9.2582,  -8.9034,  -9.2368, -12.9900,  -4.2136, -17.1594, -20.0386, -24.1969, -10.9981, -26.1891, -18.8855, -11.5885, -24.3018,
         -7.8965, -14.3852, -11.6226, -10.4818, -20.7688, -19.1534, -12.5266,  -8.3823,  -0.5058,  -4.3784, -11.7790, -20.4891, -11.8543,
        -13.8775, -29.0377,  -1.8265,  -0.6479, -10.2159, -26.7040,  -8.4459, -11.1938, -23.9120, -14.4838, -16.6644, -10.4818, -11.7373,
         -3.9165,  -0.7791,  -2.0791, -11.9988, -11.6050, -21.5804, -18.7705, -17.1587, -15.4096,  -9.3919,  -9.1497,  -1.7546, -21.1269,
        -27.9776, -11.6001, -19.7077, -11.6001, -11.7064, -13.4930, -10.4818, -16.1942, -21.5385,  -8.8304,  -1.2365, -15.3130, -12.7105,
         -7.8969, -19.2998, -11.5813, -16.9006, -10.6610, -14.4838, -11.4616, -15.2830, -12.9933, -20.0568, -15.7960, -14.4393,  -7.9046,
        -13.0951, -24.1061, -11.6039, -18.4718, -10.7123,  -9.3474,  -9.9667,  -8.9290, -11.1938, -17.0662, -13.9153, -27.9159,  -2.0649,
        -11.6619, -11.5949, -20.9744,  -3.9689,  -9.3474, -15.8605, -11.5902, -11.6050, -13.9764, -10.6576, -14.3635, -21.1106, -12.0637,
        -11.2477, -17.6481, -25.6034, -11.5868, -13.5962, -29.4497, -14.3905, -19.1879, -13.5728, -12.1012, -14.8983, -17.6129, -23.6495,
        -11.6001,  -1.1391, -24.6842, -18.5160, -11.6001, -17.2167,  -7.4493, -11.9251, -27.7471, -17.3136, -11.8934, -11.5725, -19.4211,
        -17.6608, -11.6001, -30.0122, -21.3210, -11.1096,  -3.2152, -16.5132, -30.5790, -13.4544,  -7.9382,  -9.2933, -11.8550, -15.7887,
        -14.4188, -10.6781, -20.0386, -10.6743, -13.0260,  -9.6793, -17.2592, -11.6269, -11.6039, -11.8689, -11.3548,  -1.4424, -11.8898,
        -24.1515, -11.6001, -11.5535,  -8.7951, -11.6957, -11.6078,  -0.9425, -12.1765,  -8.7935, -14.4764, -14.8050, -12.1121,  -8.8337,
        -12.4013, -13.4555, -20.2727, -12.5286, -11.7164, -25.6090, -15.0240, -19.2467, -10.6610, -12.9926, -14.4731, -10.5735, -10.4818,
        -17.7765, -28.6845, -17.2612, -14.6645,  -8.0876, -11.5535, -21.8273, -18.4891,  -7.7951, -12.0798, -11.6039, -14.2384, -20.0891,
        -21.3287, -21.6440,  -1.2917, -11.4731, -13.5580, -12.1693, -17.2612, -11.7064, -19.1128, -11.6131,  -1.6486, -19.9548, -11.1725,
        -11.9200,  -7.0407, -12.0974, -11.5861, -13.4930, -10.8532, -18.1870, -11.6035, -11.6035, -18.1746, -14.0449, -21.2088, -16.6732,
        -11.6050, -14.3642, -28.6156, -11.5863, -11.6001, -12.0714, -12.3460,  -8.6492,  -9.2933, -11.2959,  -1.4319, -11.9708, -10.6610,
        -13.2284,  -9.6225,  -9.2863, -20.6702,  -0.6184, -15.3078, -16.9608, -11.6039,  -9.3071,  -0.1632, -17.2612, -11.5996,  -8.4494,
        -17.1286, -10.2126, -13.1791, -11.5798, -11.2777, -10.6755, -14.8431, -22.0388, -11.1990, -13.5523, -18.5481, -12.5336, -10.1210,
        -13.4614,  -9.7710, -16.2991, -24.0984,  -1.6839, -10.2121, -11.1938, -11.6039, -11.5758, -16.1573, -11.1096, -20.8626, -11.6078,
        -16.1533,  -8.4472, -14.4838,  -4.8765, -11.6039, -10.2110, -13.9178, -13.2001,  -8.6435, -11.5868, -13.5680,  -9.5405, -11.6001,
        -15.3110, -13.7111, -11.6131, -20.0486,  -8.3431, -23.9204,  -6.9448,  -9.7684, -10.7844, -29.7844, -14.9022, -21.1985,  -9.7898,
        -11.9251, -13.5580, -11.6093,  -2.3688,  -6.4599, -16.4885,  -2.4768, -24.8510, -16.8036, -11.6592, -14.6466, -23.5614, -11.6078,
        -13.9184, -30.8384, -11.8683, -23.6973, -11.6001, -22.9691, -16.2368, -22.5877, -22.8160, -11.6078, -18.0619, -11.1096, -26.6723,
        -11.5995,  -0.5095, -11.5868, -18.1032, -15.4149, -11.2560, -10.7227, -12.0075, -16.2991, -13.7571, -10.6683,  -1.2699,  -3.8664,
        -11.1096, -23.6432, -29.6964, -12.4567, -11.1938, -17.0831, -27.6226, -14.3852,  -4.4260, -11.6592, -10.1981, -26.2397, -33.7529,
        -10.2191, -11.7288, -25.8470, -11.7380, -12.0891, -11.6013,  -8.3823, -10.2114, -11.5970, -17.6610,  -8.4177,  -9.2564, -15.5393,
        -11.8595, -13.6754, -12.9517, -13.9146, -11.6078, -17.4122, -25.7855, -11.5935, -22.5605, -16.2909, -11.8389, -17.2712, -15.3071,
        -14.9157, -10.6781, -11.5861, -21.0488, -11.5863, -19.2380, -23.6973, -12.3322, -18.5481, -10.6998,  -1.2917, -11.5863,  -7.9665,
        -11.3404, -14.4000,  -3.5059, -21.5804, -14.9447, -11.7295, -10.5890, -17.1498,  -3.9157,  -4.8415, -15.4196, -24.0641, -30.3710,
         -9.4019, -11.7200, -15.5903,  -4.1449,  -8.4544, -13.2437, -11.6022, -10.6603, -10.6750, -29.4497, -22.9182, -12.3380, -18.6665,
        -17.1845, -11.6001, -19.0103, -13.5660, -11.6078, -11.6078, -11.5618,  -9.2894, -13.1603, -11.5863, -15.3060, -29.2521, -25.1522,
        -17.4130, -11.6001,  -7.9046,  -9.4150, -16.3354, -18.8285, -11.5903, -15.3078, -11.9696, -18.7405, -25.7420, -17.5049, -11.6237,
         -8.8432, -22.3833, -28.3861, -10.6820, -11.6078, -16.6753, -24.9212, -22.2335, -11.1183, -17.7341, -17.0142, -11.9071, -22.6821,
        -11.5861, -23.4615, -11.3451, -11.6039, -11.9623, -20.8658, -16.9514, -17.1605, -14.3813, -13.2785, -10.4118, -19.6558, -17.4957,
        -11.5813, -11.6050, -11.6001, -16.6997, -11.4367, -15.9775, -12.5389,  -2.1678, -12.5877, -12.9789, -20.2035,  -9.5158, -10.2141,
        -10.3630, -29.0298, -26.9714, -10.7090, -12.5297, -11.5997, -37.8086, -24.0797, -15.5930, -11.1096,  -4.0293, -13.5580, -15.3078,
        -14.7179, -18.6125, -11.6131,  -9.7512, -12.0714,  -0.7890, -12.0259,  -0.5095, -23.0651,  -9.2894, -26.7359, -11.5949, -11.1320,
        -11.6039,  -8.8100, -10.2284, -11.6022,  -8.7953, -11.8073, -11.6039, -15.0673, -11.2435, -27.4381, -23.9766, -18.9925, -22.4982,
        -17.1483,  -9.6144, -15.5105, -12.1693, -11.6008, -20.4029, -11.8689, -18.9708, -15.1092, -32.9553, -14.9467, -11.1096,  -8.8234,
        -11.8392,  -8.8712, -19.1957, -17.8349, -11.6099, -13.4828,  -9.7838,  -6.1809, -28.2288, -11.8005,  -6.5235,  -9.3409,  -8.8239,
         -7.9144, -15.1296,  -2.2142, -12.0259, -12.0490, -28.5239, -24.6756, -20.8658, -11.5997, -23.3695, -19.9297,  -9.4220, -16.9493,
         -8.7105, -12.0628, -12.3900, -18.7985, -21.4353, -20.1896, -11.3208, -11.3606, -11.9966, -11.8595, -22.9785, -13.9555, -24.6676,
         -9.2830, -18.8186, -13.0506, -11.7436, -15.7669,  -3.3340,  -8.2025, -16.3354, -23.7418, -13.2623,  -9.7710, -14.1703, -11.5998,
        -12.1793, -11.9289, -14.6359,  -5.7670, -11.1096, -11.2435, -11.2435, -13.8347, -22.1644, -17.6129, -11.6039, -11.6039, -11.8862,
        -17.5164, -10.2224, -11.6131, -14.8449, -32.9907,  -7.7181, -14.4838,  -9.5591, -14.8404,  -2.1909,  -3.1247, -15.8075, -11.1410,
        -22.5463,  -0.5505, -13.4529,  -8.9034, -16.2368, -16.2870, -11.7295, -19.4527,  -9.7347, -17.1286,  -7.8976, -24.4574, -11.9472,
        -14.6090, -11.7003, -15.3186, -11.6414, -22.7124, -26.9376, -11.5861, -24.8541,  -8.8227, -11.6001,  -2.9027, -11.5998, -20.8756,
         -6.4944,  -8.6490, -14.2007, -11.2122, -12.0442, -12.0497,  -8.8161,  -3.6781,  -0.5372, -22.2850, -11.6001,  -8.1518, -10.4818,
        -11.8912, -12.0668, -18.6499, -23.4269, -14.8634, -14.3637, -14.2368, -16.3354, -14.7179,  -5.5561,  -0.4631, -12.9679, -14.8411,
        -18.0531,  -8.8234, -18.6499, -16.0397, -12.5295, -18.7824, -16.7538,  -2.5270, -14.6166, -11.1096, -11.1417, -14.7931, -20.3589,
         -4.4922, -24.7200, -13.0113, -17.5902, -12.8456,  -0.9687, -11.5785, -12.0259,  -0.8038, -11.6001, -29.6936,  -7.4241,  -0.6794,
        -11.5863, -11.1399,  -8.8365, -18.6761, -10.2339, -11.6078, -15.7291, -11.8840,  -9.7530,  -7.9587, -14.6708, -16.4238,  -8.3823,
        -19.9271, -10.4818, -16.6958, -13.5178, -11.9889,  -1.6012, -34.7458,  -4.4171,  -8.0020, -20.9744,  -8.6198, -21.6069, -24.3578,
        -11.0673, -11.5863, -19.3158, -10.1535, -22.9640, -10.4818, -11.7064, -20.0386, -12.9700, -15.2413, -11.6414,  -2.0366, -12.5297,
        -22.2771, -15.6809, -22.2770, -13.5506,  -7.4200,  -9.7971,  -9.2894, -11.6039, -26.6840, -12.0770, -15.7700, -10.7365, -13.5135,
        -12.0442, -17.6187, -13.0951,  -9.5717, -11.2122, -12.8120, -15.3033])

In [39]:
loss = torch.abs(preds - t_dep).mean()
loss

tensor(14.1130)

In [40]:
def calc_preds(coeffs, indeps): return (indeps * coeffs).sum(axis = 1)
def calc_loss(coeffs, indeps, deps): return torch.abs(calc_preds(coeffs, indeps) - deps).mean()

In [43]:
# We now have all of the basic steps and we can carry out a gradient descent step
coeffs.requires_grad_() # _ at the end is an inplace operation that will chagne the actual values

tensor([-0.4629,  0.1386,  0.2409, -0.2262], requires_grad=True)

In [45]:
loss = calc_loss(coeffs, t_indep, t_dep)
loss

tensor(14.1130, grad_fn=<MeanBackward0>)

In [47]:
loss.backward()
# computes the gradients of the loss function with respect to the loss of the network

RuntimeError: Trying to backward through the graph a second time (or directly access saved tensors after they have already been freed). Saved intermediate values of the graph are freed when you call .backward() or autograd.grad(). Specify retain_graph=True if you need to backward through the graph a second time or if you need to access saved tensors after calling backward.

In [48]:
coeffs.grad
# now that we have accessed the gradients that we previously told torch to require and did backwards on the gradients we have access to them

tensor([-28.5670,  -0.5230,  -0.3816,  -2.9622])

In [49]:
with torch.no_grad():
    coeffs.sub_(coeffs.grad * 0.1) # subtract in place the gradient * the learning rate
    print(calc_loss(coeffs, t_indep, t_dep))

tensor(68.4136)

In [ ]:
# We can use the sigmoid function that that will make all values between 0 and 1
import sympy
sympy.plot("1 / 1 + exp(x)")
# Whenever you have a binary dependent variable - you want to make sure it is going through a sigmoid
# sigmoids provide a better non-linearity that can then be used to learn more complex data values